
.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
  'header'
  'body';
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  grid-gap: 0px;
  .header {
    grid-area: header;
  }
  .body {
    grid-area: body;
    overflow: auto;
  }
}
