version: '3'

services:
  web:
    restart: always
    build: ./django
    expose:
      - "8000"
        #environment:
      #DEBUG: 'true'
      #command: /usr/local/bin/gunicorn docker_django.wsgi:application -w 2 -b :8000
  nginx-frontend:
    build: 
      # set set context to root folder so that we can copy frontend inside nginx
      context: ./
      dockerfile: ./nginx-frontend/Dockerfile
    ports:
      - 80:80

