.main {
  padding: 8px;
  header {
    padding: 8px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .profile-actions {
      > *:not(:first-child) {
        margin-left: 30px;
      }
    }
  }

  section {
    margin-top: 10px;
  }
}
