.main {
  padding: 8px;
  .dashboard-title {
  }
  header {
    padding: 8px 0;
    border-bottom: 2px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .profile-actions {
      > *:not(:first-child) {
        margin-left: 30px;
      }
    }
  }

  section {
    margin-top: 10px;
  }
}

.profile-actions {
  cursor: pointer;
}
