.main {
  header {
    padding: 8px;
    background: gainsboro;
    border-bottom: 1px solid #d4d5da;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .results-count {
    font-weight: bold;
    font-size: 1.2rem;
    color: brown;
  }
  
  .searchfield {
    font-weight: bold;
    color: brown;
  }

  section {
    padding: 8px;
    margin-top: 10px;
  }
}
