.main {
  padding: 8px;
  header {
    padding: 8px 5px;
  }

  .results-count {
    font-weight: bold;
    font-size: 1.2rem;
    color: brown;
  }
  
  .searchfield {
    font-weight: bold;
    color: brown;
  }

  section {
    margin-top: 10px;
  }
}
