.form {
  display: flex;
  flex-direction: column;
  > *:not(:first-child) {
    margin-top: 10px;
  }
  button {
    padding: 20px;
  }
}

.header {
  padding: 40px;
  font-size: 1.5em;
}

.main {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-message {
  color : red;
}
