.main {
  display: flex;
  .form {
    flex: 1;
  }
  height: 100%;
  .userlist {
    border-right: 1px solid #d4d5da;
    min-width: 200px;
    background: white;
    li {
      padding: 10px 25px;
      cursor: pointer;
      &:hover {
        background: #e1e4e8;
      }
      &.active {
        background: #d1d4d5;
      }
    }
  }
}

.header {
  padding: 10px 20px;
  font-size: 1.5em;
  border-bottom: 1px solid #d4d5da;
  button {
    font-size: 1rem;
    margin-left: 10px;
  }
}

.form {
  padding: 20px 20px;
  border: none;
  background: none;
}
