
.main {
  padding: 10px 10px;
  background: black;
  color: white;
  display: grid;
  grid-template-areas:
  'title . timezone_actions . profile_actions';
  grid-template-columns: min-content 1fr min-content 3fr min-content;
  grid-gap: 0px;
  align-items: center;
}

.app-title {
  grid-area: title;
  white-space: nowrap;
  cursor: pointer;
  font-size: 1.5rem;
}

.username {
  font-weight: bold;
}

.timezone-actions {
  grid-area: timezone_actions;
}

.profile-actions {
  grid-area: profile_actions;
  display: flex;
  align-items: center;
  cursor: pointer;
  button {
    background: none;
    border-color: grey;
    color: white;
    font-size: .9rem;
  }
  > *:not(:first-child) {
    margin-left: 20px;
  }
}
