
.main {
  padding: 10px 10px;
  background: #24292e;
  color: white;
  display: grid;
  grid-template-areas:
  'title . timezone_actions . profile_actions';
  grid-template-columns: min-content 1fr min-content 3fr min-content;
  grid-gap: 0px;
  align-items: center;
}

.app-title {
  grid-area: title;
  white-space: nowrap;
  cursor: pointer;
  font-size: 1.3rem;
}

.username {
  font-weight: bold;
}

.timezone-actions {
  grid-area: timezone_actions;
  display: flex;
  align-items: center;
  > *:not(first-child) {
    margin-left: 20px;
  }
  
}

.profile-actions {
  grid-area: profile_actions;
  display: flex;
  align-items: center;
  cursor: pointer;
  button {
    background: none;
    border-color: grey;
    color: white;
    font-size: .8rem;
  }
  > *:not(:first-child) {
    margin-left: 20px;
  }
  .add-timezone {
    background: none;
    border: none;
    &:hover i {
      color: white;
    }
    &:focus {
      outline: none;
    }
    i {
      font-size: 1.2rem;
      color: silver;
    }
    height: min-content;
    padding: 5px 10px;
  }
}
