
.main {
  padding: 15px 10px;
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
}

.app-title {
  cursor: pointer;
  font-size: 1.8rem;
}

.username {
  font-weight: bold;
}

.profile-actions {
  cursor: pointer;
  button {
    margin-left: 20px;
    background: none;
    border-color: grey;
    color: white;
    font-size: .9rem;
  }
}
