$padding: 10;

.main {
  header {
    color: #24292e;
    font-size: 1.1rem;
    font-weight: bold;
    border-bottom: 1px solid #d1d5da;
    padding: $padding;
  }

}

.main {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
}

