.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  section {
    margin-top: 80px;
  }

}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  p {
    font-size: 1.2rem;
    margin: 20px;
    width: 60%;
  }
}

.greetings {
  text-align: center;
  font-size: 3rem;
}

.navigation-links {
  a {
    text-decoration: inherit;
    background: white;
    width: 200px;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
  }
  > a:not(:first-child) {
    margin-left: 10px;
  }
}
