.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  section {
    margin-top: 80px;
  }

}

.header {
  font-size: 2em;
}

.navigation-links {
  a {
    text-decoration: inherit;
    background: white;
    width: 200px;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
  }
  > a:not(:first-child) {
    margin-left: 10px;
  }
}
