.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  section {
    margin-top: 60px;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    p {
      font-size: 1.2rem;
      margin: 20px;
      width: 60%;
    }
  }

}

.greetings {
  text-align: center;
  font-size: 3rem;
}

.navigation-links {
  a {
    &:hover {
      background: cadetblue;
    }
    border-radius: 2px;
    display: inline-block;
    background: rgba(cadetblue, .8);
    color: white;
    text-decoration: inherit;
    text-align: center;
    width: 100px;
    font-size: 1rem;
    padding: 15px 20px;
    cursor: pointer;
  }
  > a:not(:first-child) {
    margin-left: 10px;
  }
}
