version: '3'

services:
  web:
    restart: always
    build: 
      context: ../
      dockerfile: docker/django/Dockerfile
    volumes:
      - "../django/src:/src"
    env_file: 
      './config/dev.env'
    ports:
      - 8000:8000
    #command: /usr/local/bin/gunicorn docker_django.wsgi:application -w 2 -b :8000
  frontend:
    build: 
      context: ../
      dockerfile: docker/frontend/Dockerfile.dev
    volumes:
      - "../frontend:/app"
      - "node_modules:/app/node_modules" # mounting local node_modules is really slow on mac, so we create a data volume
    tty: true # without terminal sh exists immediately as it has nothing to do
    ports:
      - 3000:3000
  nginx-frontend:
    build: 
      # set set context to root folder so that we can copy frontend inside nginx
      context: ../
      dockerfile: docker/nginx-frontend/Dockerfile.dev
    ports:
      - 80:80

volumes:
  # with each package addition outside the container, need to remove the old volume and build 
  # front end image again otherwise new package additions won't be found
  # named data volume will help to remove this particular volume easily
  # But if we install new package inside the container
  node_modules:
