$padding: 5px 10px;
.main {
  margin: 5px;
  display: inline-block;
  border: 1px solid grey;
  label {
    padding: 4px;
  }
}

.header {
  padding: $padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: skyblue;
  .name {
    font-size: 2em;
    padding: 4px;
  }
}

.content {
  padding: $padding;
  display: flex;
  flex-direction: column;
}

.action-buttons {
  margin-left: 20px;
  > *:not(:first-child) {
    margin-left: 5px;
  }
}

.timezone-time {
  font-size: 3em;
}

.relative {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.time_diff {
  font-size: 1.8em;
  margin-left: 10px;
}
