.main {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top:0;
  width: 100vw;
  height: 100vh;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.root {
  filter: blur(2px);
}

