.form {
  padding: 30px 80px;
  border-radius: 3px;
  background: #d4d5da;
  border: 1px solid silver;
  display: flex;
  flex-direction: column;
  > div:not(:first-child) {
    margin-top: 10px;
  }
  button {
    font-size: 1rem;
    margin-top: 20px;
    padding: 10px 20px;
  }
}

.registered {
  padding: 10px;
  span {
    font-size: 2rem;
  }

}

.buttons {
  display: flex;
  > button:not(:first-child) {
    margin-left: 10px;
  }
  button {
    flex: 1;
  }
}

.header {
  padding: 40px;
  font-size: 1.5em;
}

.error-message {
  margin-top: 20px;
  color : red;
  font-size: 0.9rem;
}

.password_validation {
  color: red;
  font-size: 0.8rem;
}


