.main {
  background-color: grey;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  font-size: 2em;
}

section {
  margin-top: 20px;
}

.action-buttons {
  button {
    width: 200px;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
  }
  > button:not(:first-child) {
    margin-left: 10px;
  }
}
