.registered {
  padding: 10px;
  span {
    font-size: 2rem;
  }

}

.header {
  padding: 40px;
  font-size: 1.5em;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

