.registered {
  padding: 10px;
  span {
    font-size: 2rem;
  }

}

.header {
  margin-bottom: 40px;
  font-size: 1.5em;
}

.form {
  min-width: 300px;
  max-height: 70vh;
  overflow: auto;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

