$padding: 10px;

.main {
  border: 1px solid steelblue;
  display: flex;
  background: #e1e4e8;
  flex-direction: column;
  header {
    font-size: 1.1rem;
    background: cadetblue;
    color: white;
    padding: $padding;
  }
  form {
    padding: $padding;
    display: flex;
    flex-direction: column;
    > *:not(:first-child) {
      margin-top: 10px;
    }
  }
}

.buttons {
  padding: 10px 0;
  display: flex;
  > *:not(:first-child) {
    margin-left: 10px;
  }
}
