$padding: 10px;

.main {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  header {
    font-size: 1.1rem;
    font-weight: bold;
    border-bottom: 1px solid #d1d5da;
    padding: $padding;
  }
  form {
    padding: $padding;
    display: flex;
    flex-direction: column;
    > *:not(:first-child) {
      margin-top: 10px;
    }
  }
}

.buttons {
  padding: 10px 0;
  display: flex;
  > * {
    flex: 1;
  }
  > *:not(:first-child) {
    margin-left: 10px;
  }
}
